{% extends "layout.html" %}
{% load static %}

{% block content %}

<div role="main" class="main">
    <div id="examples" class="container py-2">
        <div class="row mb-5 pb-3">

            <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation"  data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                <h4 class="mb-4" style="text-transform: uppercase;">Composante 01</h4>
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    
                    <div class="row g-0">


                        <div class="col-lg-12">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Le renforcement du cadre juridique et institutionnel</h4>
                                <div class="card-text">
                                    <p>Les activités de cette composante vont permettre de renforcer le cadre juridique et institutionnel des systèmes d’identification en Côte d’Ivoire, notamment en fournissant des processus d’authentification permettant une reconnaissance mutuelle entre les pays participants.</p>
                                    <p>Cette composante financera généralement des activités visant à :</p>
                                    <ul class="list list-icons list-primary ms-4">
                                        <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;"><i class="fas fa-check"></i> Identifier et combler les lacunes du cadre juridique, réglementaire et institutionnel existant, développer une loi régissant l’identification de base, construire et mettre en œuvre les lois et règlements environnants et mesures institutionnelles nécessaires au fonctionnement du système.</li>
                                        <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fas fa-check"></i> Au niveau institutionnel, les investissements nécessaires seront faits pour renforcer les capacités afin de faire avancer le projet, y compris investir dans la formation continue des utilisateurs et des administrateurs nouveaux et existants.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row mb-5 pb-3">


            <div class="col-md-8 col-lg-8 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 1 </h4>
                        <div class="card-text">
                            
                            <h4 class="text-primary">Identifier et combler les lacunes dans les cadres juridiques, réglementaires et institutionnels existants pour les documents d’identité reconnus par les gouvernements.</h4>
                            <p>Cette sous-composante va financer l’assistance technique en soutien afin d’identifier et de combler les lacunes dans les cadres juridiques, réglementaires et institutionnels existants. Aussi, elle va également soutenir l’élaboration d’une politique nationale d’identification et la mise en œuvre d’une loi correspondante pour la création du système d’identification de base, en mettant l’accent sur l’accès ultérieur aux services grâce au processus d’authentification réalisé moyennant des documents d’identité reconnus par le gouvernement.</p>
                            <p>De plus, des politiques et des protocoles seront élaborés pour permettre l’intégration et l’interopérabilité entre les systèmes d’identification de base et les EC, ainsi qu’avec d’autres registres et bases de données pertinents d’autres départements.</p>
                            <p>Par ailleurs, cette sous-composante renforcera la capacité des agents de l’ONI. En vue d’assurer la durabilité des nouveaux systèmes, cette sous-composante fournira une formation continue pour les utilisateurs et les administrateurs nouveaux et existants, y compris au niveau décentralisé.</p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 2</h4>
                        <div class="card-text">
                            <h4 class="text-primary">Mener un dialogue régional sur la reconnaissance mutuelle des systèmes d’identification</h4>
                            <p>Cette sous-composante va favoriser la collaboration entre les institutions et renforcer l’engagement régional sur la base des systèmes d’identification de base, de la CIBN pour la zone CEDEAO (CIBNAO).</p>
                            <p>Elle est mise en œuvre par la CEDEAO.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}