{% extends "layout.html" %}
{% load static %}

{% block content %}

<div role="main" class="main">
    <div id="examples" class="container py-2">
        <div class="row mb-5 pb-3">

            <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation"  data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                <h4 class="mb-4" style="text-transform: uppercase;">Composante 02</h4>
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    
                    <div class="row g-0">


                        <div class="col-lg-12">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">La mise en place des systèmes d'identification de base solides et inclusifs</h4>
                                <div class="card-text">
                                    <p>Au cours de la phase 1 de la MPA, la composante 2 appuiera la création de systèmes, d’infrastructures, de sous-systèmes, et un GRM sera développé pour permettre aux individus de demander des solutions pour des problèmes liés au projet.</p>
									<p>Pour assurer le développement d’une identification de base robuste et inclusif, la composante 2 financera la conception, le développement et la mise en œuvre des cinq (05) sous-composantes suivantes :</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        </div>

        <div class="row mb-5 pb-3">


            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 1 </h4>
                        <div class="card-text">
                            <h4 class="text-primary">Mise en place du nouveau système d’identification (création du système, campagne d’enregistrement de masse et Facilitation de l’enregistrement en cours)</h4>
                            <p>Cette sous-composante financera la mise en place du système d’identification de base. Ce système central va générer et gérer les NNI. Il assurera l’unicité et le caractère aléatoire des numéros attribués en Côte d’Ivoire.</p>
                            <p>En plus, ce système d’identification de base va utiliser la biométrie pour des finalités d’identification unique et de déduplication continue du système d’identification de base. Pour ce faire, des politiques seront élaborées pour permettre l’accès à l’authentification et à d’autres services (via des services web / API) tout en maintenant un contrôle d’accès approprié et des sauvegardes de confidentialité des données.</p>
                            <p>Le système d’identification de base sera initialement alimenté par une campagne d’inscription en masse menée au niveau national dans chaque pays ; toutes les personnes sur le territoire du pays seront éligibles, quelle que soit leur nationalité ou leur statut juridique.</p>
                            <p>Étant donné que l’inscription en masse représente une mobilisation ponctuelle de ressources humaines importantes, il est probable qu’elle sera sous-traitée à une tierce partie, avec une accréditation et une expérience appropriée. La campagne d’inscription sera menée de manière à atténuer les obstacles physiques et psychologiques-comportementaux à la participation.</p>
                            <p>Par ailleurs, des procédures d’inscription continue seront développées pour le système d’identification de base et le fournisseur tiers à la campagne d’inscription massive devra fournir le matériel et la formation nécessaire pour gérer un système de collecte de données mobile basé sur des tablettes pour assurer cette inscription continue.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 2 </h4>
                        <div class="card-text">
                            <h4 class="text-primary">Création de liens entre les systèmes d’identification et le registre d’état civil</h4>
                            <p>Renforcer les liens avec le système d’état civil
                                Cette sous-composante financera l’élaboration d’un plan de transition vers un système d’EC numérique.</p>
                            <p>En effet, des politiques et des protocoles seront élaborés pour permettre l’interopérabilité entre un système d’EC numérique et le système d’identification de base, ainsi que d’autres registres et bases de données pertinents.</p>
                            <p>Au niveau de l’évaluation des registres civils existants sur support papier et numérique, cette sous-composante soutiendra également un inventaire complet et une évaluation de l’état du registre civil existant, y compris toutes les archives, c’est-à-dire cataloguer tous les registres d’état civil et les archives du pays et évaluer chaque registre sur la faisabilité de la numérisation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><hr>
            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 3 </h4>
                        <div class="card-text">
                            <h4 class="text-primary">Production de fiches d’identification (Distribution des fiches d’identification à toutes les personnes inscrites dans le système, Systèmes de production de FID, Développement d’un plan d’entreprise pour assurer la durabilité)</h4>
                            <p>Production des documents d’identité</p>
                            <p>Après la génération des NNI et l’ajout de l’identité dans le système d’identification de base, un document d’identité peut être délivré à moindre coût. Ici, le projet examinera les options pour l’émission de documents d’identité basiques et un système de production de documents d’identité de base réalisés à moindre coût.</p>
                            <p>Outre cela, un plan pour le financement durable de la production de documents d’identité de base sera élaboré.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 4 </h4>
                        <div class="card-text">
                            <h4 class="text-primary">Systèmes d’information d’appui (Système de gestion et de suivi de projet, Centre de données sécurisé et sauvegarde)</h4>
                            <p>Système d’information de soutien</p>
                            <p>Le projet va financer le renforcement des systèmes d’information des agences d’exécution pour faciliter la gestion et le suivi des projets.</p>
                            <p>Cette sous-composante permettra de financer et sauvegarder un centre de données sécurisé pour héberger le système ID fondamental.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><hr>
            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 5 </h4>
                        <div class="card-text">
                            <h4 class="text-primary">Gestion de projet, GRM et engagement des parties prenantes (Soutien à la PIU, Suivi et évaluation du projet, Campagne de sensibilisation et engagement des parties prenantes, Développement des ressources génétiques).</h4>
                            <p>Gestion de projet, gestion des plaintes/griefs et engagement des citoyens</p>
                            <p>Cette sous-composante va financer des activités liées à la gestion et au suivi du projet et l’élaboration et la mise en œuvre d’un système de suivi et d’évaluation (S&E), ainsi que des activités de S&E à venir.</p>
                            <p>Suite à cela, des campagnes de sensibilisation décrivant les droits et les responsabilités seront élaborées et mises en œuvre dans le cadre des stratégies de communication du projet.</p>
                            <p>Elle financera également la conception des systèmes d’identification de base.</p>
                            <p>Elle comprendra le développement des GRM à recueillir et afin de répondre aux questions des bénéficiaires avec la mise en œuvre et le déploiement des identités reconnues par le gouvernement.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}