{% extends "layout.html" %}
{% load static %}

{% block content %}

<div role="main" class="main">
    <div id="examples" class="container py-2">
        <div class="row mb-5 pb-3">

            <div class="col-md-12 col-lg-12 mb-5 mb-lg-0 appear-animation"  data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                <h4 class="mb-4" style="text-transform: uppercase;">Composante 03</h4>
                <div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
                    
                    <div class="row g-0">


                        <div class="col-lg-12">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">Promouvoir l’accès aux services à travers des documents d’identité</h4>
                                <div class="card-text">
                                    <p>Cette composante décrit les modalités opérationnelles et de mise en œuvre, ainsi que les mécanismes d’intégration et d’interopérabilité entre les systèmes réseau de sécurité sociale et les systèmes d’identification de base, en tant que moyen de faciliter l’accès aux services pour la population.</p>
                                    <p>Pour encourager l’adoption des documents d’identité reconnus par le gouvernement afin de faciliter l’accès aux services, la Composante 3 du projet, va lier les systèmes d’identification de base aux programmes nationaux de protection sociale en cours dans le pays.</p>
                                    <p>La Composante 3 va aider aussi le pays à définir sa stratégie en choisissant parmi plusieurs options pour tirer parti des systèmes d’identification de base pour l’authentification de l’identité afin des prestations de services.</p>
                                    <p>Dans cette composante, le projet permettra l’authentification en ligne pour l’accès aux services domestiques et transfrontaliers dans la région CEDEAO fondée sur la carte CINB.</p>
                                    <p>Le projet atteindra cet objectif en finançant les sous-composantes et les activités suivantes :</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

        </div>

        <div class="row mb-5 pb-3">


            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 1</h4>
                        <div class="card-text">
                            <h4 class="text-primary">Conception et mise en œuvre de l’interopérabilité entre le système d’identification de base et les systèmes de protection sociale</h4>
                            <p>Cette sous-composante va financer le développement de stratégies nationales et hiérarchiser les liens entre les principaux services et le système d’identification de base.</p>
                            <p>Ces stratégies seront basées sur des consultations avec les principales parties prenantes dans le pays et vont inclure une liste de services à relier au système d’identification de base dans du pays à court, moyen et à long terme, par ordre de priorité.</p>
                        </div>
                    </div>
                </div><hr>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 2</h4>
                        <div class="card-text">
                            <h4 class="text-primary">Campagne de communication</h4>
                            <p>Cette sous-composante permettra de financer une stratégie de communication visant les bénéficiaires ; cette stratégie axée sur l’accès aux services à l’aide d’identifiants fondamentaux sera développée, avec un accent particulier sur les groupes précédemment exclus de ces services en raison de l’absence d’un document d’identité reconnu par le gouvernement.</p>
                            <p>Les entités impliquées dans cette sous-composante auront un rôle clé à jouer dans la campagne de communication pour assurer la communication avec les groupes précédemment exclus de ces services.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 3</h4>
                        <div class="card-text">
                            <h4 class="text-primary">Investissements ciblés dans l’équipement</h4>
                            <p>En ordre d’assurer un déploiement réussi, le projet investira dans les terminaux biométriques et d’autres matériaux.</p>
                            <p>En fonction des besoins de financement, le projet pourrait soutenir l’acquisition d’équipements nécessaires pour mettre en place des processus d’authentification liés au système d’identification de base.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                <div class="card border-radius-0 bg-color-light box-shadow-1 box-shadow-1-hover">
                    <div class="card-body">
                        <h4 class="card-title mb-1 text-4 font-weight-bold">Sous composante 4</h4>
                        <div class="card-text">
                            <h4 class="text-primary">Campagnes de sensibilisation</h4>
                            <p>Une stratégie de sensibilisation avec les bénéficiaires sur l’accès aux services en utilisant les cartes d’identité reconnues par le gouvernement sera développée avec un accent notable mis sur le lien entre les groupes qui ont été ultérieurement exclus de ces services à cause d’un manque des pièces d’identité reconnues par le gouvernement.</p>
                            <p>Suite à cela, cette sous-composante financera une campagne pour accroître la sensibilisation concernant la nouvelle fonctionnalité d’un système d’identité de base pour avoir accès aux services.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}