{% extends "layout.html" %}
{% load static %}

{% block content %}

<section class="page-header page-header-modern custom-page-header bg-color-quaternary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class="font-weight-bold text-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Mot du coordonnateur</h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                    <li><a href="#">PRESENTATION</a></li>
                    <li class="active" style="color: #fff;">Mot du Ministre</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="container py-5">
    <div class="row">
        <div class="col-lg-12 real-word-stories">

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <img src="/static/img/melsa/211.JPG" style="width: 100% !important; border-radius: 10px;" alt="Bullseye">
                            
                            <blockquote style="margin: 0px; padding: 0px; margin-top: 15px;">
                                <h4 class="text-color-secondary font-weight-bold text-start">Maître ADAMA KAMARA Ministre de l’Emploi et de la Protection Sociale</h4>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-8 card-body p-0" style="text-align: justify;">
                    <p>L’accès aux services sociaux de base pour l’ensemble des populations, y compris les plus démunies, reste un défi important auquel la Côte d’Ivoire, avec à sa tête le Président de la République, SEM. Alassane OUATTARA, fait face à travers plusieurs projets et programmes.  </p>
                    <p>Au nombre de ceux-ci figure le Projet d’Identification Unique pour l’Intégration Régionale et l’Inclusion en Afrique de l’Ouest (WURI) Côte d’Ivoire. Ce projet est le fruit d’un partenariat solide entre la Côte d’Ivoire et la Banque mondiale à travers un financement à hauteur de 67,4 millions de dollars américains, soit 35,88 milliards de francs CFA.  </p>
                    <p>Le Projet WURI Côte d’Ivoire vise la mise en place d’un système d’identification « fondationnelle » (fID) pour la Côte d’Ivoire. Ce système digital robuste, fiable et sécurisé permettra de fournir à toutes les populations vivant sur le territoire ivoirien, sans distinction de sexe, de religion, d’ethnie, d’appartenance politique, une preuve d’identité unique pour faciliter leur accès aux services sociaux de base tant en zone urbaine qu’en zone rurale.  </p>
                    <p>La mise en ligne du site internet du Projet WURI, www.wuri.ci, rentre dans le cadre de la bonne gouvernance et de la transparence. C’est le moyen pour vous, chers internautes, de suivre l’état d’avancement des activités du Projet. Je vous souhaite beaucoup de plaisir et d’intérêt en consultant le site web du Projet WURI. </p>
                    
                </div>
                <div class="col-4">
                    <img src="/static/img/melsa/pub.png" style="width: 100%; border-radius: 10px;" alt="">
                </div>
            </div>

            

        </div>
    </div>
</div>

<section class="are-you-looking-for bg-color-secondary">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6">
                <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>NEWSLETTER</p>
                <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Inscrivez-vous à notre Newsletter</h2>
                <p class="font-weight-semibold text-color-light mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">	
                </p>
            </div>
            <div class="col-xl-6 d-flex align-items-start align-items-sm-center justify-content-start justify-content-xl-end mt-4 mt-xl-0 flex-column flex-sm-row">
                <span class="are-you-looking-for-phone py-2 d-flex align-items-center text-color-light font-weight-semibold text-uppercase text-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Votre email...">
                    </form>
                </span>
                <a href="#" class="btn btn-primary custom-btn text-center text-uppercase text-decoration-none border-0 py-0 px-5 font-weight-semibold appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">S'abonner</a>
            </div>
        </div>
    </div>
</section>	

{% endblock %}