{% extends "layout.html" %}
{% load static %}

{% block content %}

<div role="main" class="main">
    <section class="page-header page-header-modern custom-page-header bg-color-quaternary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-bold text-9 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
                       Recrutements
                    </h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                        <li><a href="#">Recrutements</a></li>
                        <li class="active" style="color: #fff;">Offres</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <div class="container py-5 mt-3">

        <div class="row">
            <div class="col-lg-8">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Un job <strong class="font-weight-extra-bold">pour vous</strong></h2>
                </div>
                <div class="overflow-hidden mb-4">
                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc euismod facilisis neque, eu malesuada diam finibus non.</p>
                </div>
                <p class="text-color-light-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget. Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis.</p>
            </div>
            <div class="col-lg-4">
                <div class="testimonial testimonial-primary appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
                    <blockquote>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Curabitur euismod facilisis neque, eu malesuada diam.</p>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>


    <section class="section section-default border-0 m-0">
        <div class="container py-4">

            <div class="row pb-4">
                <div class="col-md-8">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                       
                        <div class="accordion accordion-modern accordion-modern-grey-scale-1 without-bg mt-4" id="accordion11">

                            {% for recrutement in recrutements %}
                            <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Two">
                                            {{recrutement.titre}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11Two" class="collapse">
                                    <div class="card-body mt-3">
                                        
                                        {{recrutement.mission|safe}}
                                        
                                        <ul class="list list-inline mt-4 mb-3 text-2">
                                            <li class="list-inline-item">
                                                <strong>Niveau d'étude:</strong>
                                                {{recrutement.niveau_etude}}
                                            </li>
                                            <li class="list-inline-item">
                                                <strong>Type de contrat:</strong>
                                                {{recrutement.contrat_propose}}
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>Niveau d'experience:</strong>
                                                {{recrutement.niveau_experience}}
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>Competences:</strong>
                                                {{recrutement.competences_cles}}
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <img src="/static/img/melsa/pub.png" style="width: 100%; border-radius: 10px;" alt="">
                </div>
            </div>

        </div>
    </section>



</div>

{% endblock %}