<nav class="collapse">
    <ul class="nav nav-pills" id="mainNav">
        <li class="dropdown-secondary">
            <a class="nav-link active" href="/">
                Accueil
            </a>
        </li>
        <li class="dropdown">
            <a class="nav-link" href="#">
                Présentation
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/presentation/mot-du-coordinateur/" class="dropdown-item">Mot du Coordonnateur</a>
                </li>
                <li>
                    <a href="/presentation/" class="dropdown-item">Présentation du projet WURI</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Composition de l'UGP WURI</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-secondary">
            <a class="nav-link" href="/actualites/">
                Actualités
            </a>
        </li>
        <li class="dropdown">
            <a class="nav-link" href="#">
                Ressources
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/ressources/gallerie-activites.html" class="dropdown-item">photos</a>
                </li>
                <li>
                    <a href="/ressources/videos-activites.html" class="dropdown-item">vidéos</a>
                </li>
                <li>
                    <a href="/ressources/ressources-documentaire.html" class="dropdown-item">Ressources documentaires</a>
                </li>
                <li>
                    <a href="/ressources/publication-media.html" class="dropdown-item">Publication dans les médias</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="nav-link" href="#">
                Système d'identification digitale
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="dropdown-item">Enrôlement de masse</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Plateforme MOSIP</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="nav-link" href="#">
                Plaintes
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/plaintes/faq.html" class="dropdown-item">FAQ</a>
                </li>
                <li  class="dropdown-submenu">
                    <a href="#" class="nav-link">Signaler une requête</a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="/plaintes/soumettre-une-requette.html" class="dropdown-item">Soumettre une requête</a>
                        </li>
                        <li>
                            <a href="/plaintes/suivi-plainte.html" class="dropdown-item">Suivre le traitement de la requête</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Plateforme d'enquête</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="nav-link">Documents utiles</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/plaintes/glossaire.html" class="dropdown-item">Glossaire</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" class="nav-link">Guide d'utilisateur</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/static/doc/GUIDE-D-UTILISATION.pdf" target="_blank" class="dropdown-item">Soumission et suivi de requête</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">Logigramme</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="nav-link" href="#">
                Offres
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a href="/offres/recrutement.html" class="dropdown-item">Recrutement</a>
                </li>
                <li>
                    <a href="/offres/appels-offres.html" class="dropdown-item">Appels d'offres</a>
                </li>
                <li>
                    <a href="/offres/ami.html" class="dropdown-item">AMI</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-secondary">
            <a class="nav-link" href="/contact/">
                Contacts
            </a>
        </li>
    </ul>
</nav>