{% extends "layout.html" %}
{% load static %}

{% block content %}

<div role="main" class="main">
    
    <div id="examples">

        <div class="container">

            <div class="row">
                <div class="col">
                    <hr class="solid my-5">

                    <h4>Atelier regional des projets WURI 6, 7 et 8 mai 2024</h4>

                    <div class="masonry-loader masonry-loader-showing">
                        <div class="masonry row g-0" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/1.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/2.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/3.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/4.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/5.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/6.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/7.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/8.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/9.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="masonry-item no-default-style col-sm-3">
                                <a href="#" aria-label="">
                                    <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                        <span class="thumb-info-wrapper">
                                            <img src="/static/atelier-regional-des-projets-WURI-6-7-et-8 mai2024/10.JPG" class="img-fluid" alt="">
                                            <span class="thumb-info-action">
                                                <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12"><br><br>
                    <hr style="background-color: #ffffff0c;">
                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}